@import '../styles/_breakpoints.scss';
@import '../styles/_variables.scss';

body {
  font-family: Roboto Mono;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.home-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Roboto Mono;
  text-align: center;
  margin: 0 auto;
}

.pets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-info,
.dog-info {
  width: 300px;
}

.cat-info p,
.dog-info p {
  text-align: left;
  margin-left: 0;
  font-size: 1rem;
  line-height: 1.4rem;
}

.available-cat-image,
.available-dog-image {
  width: 100%;
  border: 2px solid var(--main);
  margin-bottom: 1rem;
}

.cats-container,
.dogs-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@include tabletLandscape {
  .pets-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.cats-header,
.dogs-header {
  font-family: Roboto Mono;
  font-size: 1.5rem;
}

p {
  font-family: Roboto Mono;
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--main);
  margin: 0 auto;
}

.user-list {
  margin: 0 auto;
  display: flex;
}

.user-list li {
  font-family: Roboto Mono;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 auto;
  text-align: left;
  padding: 0;
}

.waitlist {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.waitlist-header {
  font-size: 1rem;
  font-family: Roboto Mono;
  margin: 0 auto 1rem;
  text-decoration: underline;
}

.waitlist-form-container {
  display: flex;
  padding-bottom: 1rem;
}

.waitlist-form {
  margin: 0 auto;
}

label {
  font-family: Roboto Mono;
  padding-bottom: 1rem;
}

input {
  margin: 0 auto;
  text-align: center;
}

.intro-text {
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 80%;
}

@include tabletPortrait {
  .intro-text {
    width: 50%;
  }
}

.adopt-button {
  text-align: center;
  background-color: var(--green);
  text-decoration: none;
  margin: 2rem 1rem;
  display: block;
  width: 200px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s;
  border: 2px solid var(--main);
  text-transform: uppercase;
  font-weight: bold;
  font-family: Roboto Mono, monospace;
}

.adopt-button.both {
  text-align: center;
  display: block;
}

@include tabletLandscape {
  .adopt-button.both {
    margin: 0 -4rem;
  }
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.center {
  display: flex;
  justify-content: center;
}

main {
  position: relative;
}

main span {
  font-weight: bold;
}
